.title-type-01 {
    background: linear-gradient(to right, #0071e3, #0052a5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;

    margin: {
        bottom: 30px;
        top: 0;
    }

    font: {
        size: 2rem;
        family: 'Roboto', sans-serif;
        weight: 900;
    }
}
