body {
    background-color: #ffffff !important;
    font-family: Roboto;
}

a.btn-type-01 {
    background-color: #0071e3;
    padding: 10px 20px;
    color: #fff;
    border-radius: 50px;
    font-size: 0.85rem;
    font-weight: 300;
    letter-spacing: -.1px;
    display: block;
}

.mini-cart {
    margin-top: 0;
}

.user,
.minicart {
    display: inline-block
}

.user {
    .user-message {
        display: none;
    }

    .fa {
        font-size: 1.5em;
    }
}
.header-banner {
    .close-button{
        .close{
            font-weight: 100!important;
            border-radius: 20px;
            line-height: 1rem;
            padding: 0;
            margin: 0;
            background-color: #0071e3!important;
            width: 90%!important;
            height: 90%!important;
            span{
                padding: 0;
                margin: 0;
                line-height: 1rem;
                font-size: 1.5rem;
                position: relative;
                top: -3px;
            }
        }

    }

}
.modal-dialog{
    .modal-header {
        font-family: Roboto;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: -1px;
        font-size: 1.5rem;
        color: #fff;
        border-radius: 0;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0a0a0a+14,0a0a0a+21,383838+100 */
        background: rgb(10,10,10); /* Old browsers */
        background: -moz-linear-gradient(top,  rgba(10,10,10,1) 14%, rgba(10,10,10,1) 21%, rgba(56,56,56,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  rgba(10,10,10,1) 14%,rgba(10,10,10,1) 21%,rgba(56,56,56,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  rgba(10,10,10,1) 14%,rgba(10,10,10,1) 21%,rgba(56,56,56,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0a0a', endColorstr='#383838',GradientType=0 ); /* IE6-9 */
    }
    .modal-body{
        color: #222;
        font-size: 0.8rem;
        font-weight: 300;
    }

}
.btn-primary{
    background-color: #0071e3!important;
}
.minicart .minicart-quantity{
    background-color: #0071e3!important;
    top: -1.9375em;
    left: -.9375em;
    line-height: 1rem;
}

